# Dart & Flutter
.dart_tool/
.packages
.pub/
build/
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
.gradle/
local.properties
*.jks

# iOS / Xcode
**/ios/**/*.mode1v3
**/ios/**/*.pbxuser
**/ios/**/xcuserdata/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework

# IDEs
.idea/
*.iml
.vscode/

# OS & misc
*.log
*.class
.DS_Store
*.swp
